<%= render "shared/shop" %>
<%= render "shared/links" %>

<h3>List of categories</h3>
<table>
<% @categories.each do |c| %>
	<tr>
		<td><%= c.name %></td>
		<td><%= link_to "Show products within this category...", c %>
	</tr>
<% end %>
</table>